body {
    background-color: #1F2937;
    text-align: left;
    margin: 0;
   
  }
  
  h1 .colorTwo {
      color: white;
  }
  
  h1 {
      font-family: ;
      color: #4ADF86;
      text-align: left;
      font-size: 40px;
      font-weight: 800;
      line-height: 40px;
      letter-spacing: -0.025em;
      margin-left: 52px;
      margin-top: 115px; 
    
  }
  p {
      font-family: ;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #D5D4D8;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      margin-top: 10px;
      width: 372px;
      margin-left: 52px;
         
  }
  #passwordEl:hover {
      background-color: yellow;
      color: black;
  }
  #passwordEl {
      color: #FFFFFF;
      background-color:#10B981;
      Padding: 9px 17px 9px 15px;
      font-family:'Arial';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-top: 51px;
      border-radius: 6px;
      width: 191px;
      margin-left: 52px;
      margin-bottom: 35px;
  }
  
  .line {
      width: 446px;
      height: 0px;
      border: 1px solid #2F3E53;
      margin-bottom: 35px;
      margin-left: 52px;
      align-content: center;
      
      }
  
  #password1-el, #password2-el {
      width: 211px;
      height: 39px;
      border-radius: 6px;
      margin-left: 52px;
      color: #55F991;
      background-color: #273549;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  #password1-el:hover, #password2-el:hover {
      color: #000;
      background-color: #ECFDF5;
  }
  